#tooltip {
  border: 1px solid black;
  padding: 5px;
  position: absolute;
  background-color: white;
}

.tooltip-swarm {
  border: 1px solid black;
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 5px;
  font: 12px;
  background: white;
  visibility: hidden;
}